.note {
    white-space: pre-line;
}

.demo{
    margin-top: 25px;
}

.demoexample{
    border: dotted;
    margin: 25px 0;
    padding: 5px 10px;
}


.sidebar button.sidebar-minimizer {
    display: none;
}

.demoexample .row label {
    padding-right: 10px;
}
.demoexample .row input[type="radio"] ,
.demoexample .row input[type="checkbox"]
{
    vertical-align: middle;
    margin-left: 2px;
}
