.note {
    white-space: pre-line;
}

.demo{
    margin-top: 25px;
}

.demoexample{
    border: dotted;
    margin: 25px 0;
    padding: 5px 10px;
}


.sidebar button.sidebar-minimizer {
    display: none;
}